{% extends 'rules/base.html' %}

{% block rules_content %}
<p style=text-align:center>
  <span style=font-family:Arial>
    <strong>
      <span style=font-size:xx-large>
        <span style=white-space:pre-wrap>F-Zero Central Ladder Guidelines</span>
      </span>
    </strong>
  </span>
</p>
<p style=text-align:center>
  <strong>
    <span style=font-family:Arial>Introduced: July 28, 2018 / Last Updated: June 12, 2020</span>
  </strong>
  <span style=font-family:Arial>
    <br type=_moz>
  </span>
</p>
<hr>
<pre style=word-wrap:break-word;white-space:pre-wrap>
  <p dir=ltr style=line-height:1.38;margin-top:0pt;margin-bottom:10pt>
    <span style=font-family:Arial>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>The purpose of these guidelines is to inform all players of good practices to ensure a productive, healthy competitive atmosphere.</span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-weight:700;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>On keeping and providing proof</span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>We highly suggest making sure you are able to keep and possibly provide proof of your times. It is very likely that we will ask for proof of any highly ranked time from a player who has not shown a video of a similarly highly ranked time. If a request was made, if video proof is not shown in a reasonable amount of time, we hold the right to remove the time(s) until the requested proof is shown.</span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-weight:700;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>On quality and configuration of video proof</span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>It would be preferred if the video and sound quality is respectable, preferably captured using a capture card if the system can easily support it. The timer and the speedometer should both be legible in the video. Show the run from start to finish, and show the time as well. If it is no longer possible to record the results with the time on the video, make sure to take a screenshot of the results and link to it on the video description.</span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>If you are video capturing a replay of the run for F-Zero GX, please press Z until it shows the speedometer and set the camera to one of the two main camera angles used for racing (The camera panned closest to the machine from behind, and the one panned slightly further away. NOT the first person view and camera panned out furthest away). Feel free to re-run the replay with a different camera angle on the same or on a separate video.</span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>For F-Zero GX, ideally the video would be a live recording of the run, but it is not a requirement. If you don't have a live recording of the run, there is a way to display the energy level and additionally display the controller inputs and lap times with the .gci replay file in conjunction with Dolphin and Cheat Engine (Example:
        <a href=https://youtu.be/zpqnJZO0YEI>https://youtu.be/zpqnJZO0YEI</a>).
      </span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-weight:700;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>On video titles for a World Record run</span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>On the video title, mention it's a WR with [WR] or (World Record) on it to indicate that it is a current world record. If the WR gets broken by somebody else, take care to remove it or change it to [FWR] (Former World Record).</span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-weight:700;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>On when to reveal that you set a WR (World Record)</span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>F-Zero Central does not tolerate the hoarding of World Record times for an excessive amount of time. We do not want anyone to think they set or currently hold a WR only to find out that someone else had a faster time all along. If you set a WR, or are currently keeping it/them hidden after these guidelines have been officially been announced, regardless of how satisfied you are with it, you have a responsibility to reveal it as soon as you reasonably can. We strongly request that you reveal a new world record on the same day that it was set from now on. Taking longer than a week is unacceptable, barring exceptional circumstances.</span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>There are threads on the forums for each game to post when you set a WR. The time can be revealed before verifiable proof is ready. However we do expect verifiable proof to be shown in a timely manner afterwards. </span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>If for whatever reason a player who revealed a WR outside of FZC (F-Zero Central), but doesn't post it on the FZC WR thread, after some time a mod will post it for the player to ensure every player is aware of the new WR.</span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>Please refer to the WR submission rules of the game(s) you run on details on preparing verifiable proof.</span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-weight:700;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>On how soon to submit non WR times to the ladder</span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>It is recommended that you do so within three weeks of setting the PB to keep the ladder rankings up to date.</span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-weight:700;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>On verifiable times that are not submitted to the ladder</span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>If a player has a video of a run that shows or mentions the time, but has not been submitted to the appropriate FZC ladder:</span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>If the time(s) has not been submitted to the ladder about 2 weeks after a site staff member discovers the run, the time will be added to the ladder if it is faster than that player's existing time or if there is no time submitted for that course. The runner will be then informed that the times have been added. We are adding it to make the ladder as accurate as possible and for competitive fairness. We take the stance that a publicly made known run is okay to be shared on the ladder. &nbsp;It will be mentioned and linked where the run was found. If there is no FZC account for the player in question, one will be created to add the time and give the player access to the account.</span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>If for any reason the player does not want their time(s) to be shown in the ladder, first inform us. We will request if the times can be kept on the ladder under an anonymous username. If the player declines to that request, he or she may remove the time(s) or delete their FZC account.</span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-weight:700;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>Suggestions for Submitting Times</span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <span style=font-size:11pt;background-color:transparent;font-variant-numeric:normal;font-variant-east-asian:normal;vertical-align:baseline>In addition to your time, adding in the 3/5 lap splits will be informative for other players. If you have a video of the run, you may link it as well, or a site staff can create a link to the video if requested. You may also include the date that you set the time</span>
    </span>
    <p dir=ltr style=line-height:1.38;margin-top:0pt;margin-bottom:10pt>
      <span style=font-family:Arial;font-variant-numeric:normal;font-variant-east-asian:normal;background-color:transparent;font-size:11pt;font-weight:700;vertical-align:baseline>June 12, 2020 Update - Submit your best time</span>
      <span style=font-family:Arial;font-variant-numeric:normal;font-variant-east-asian:normal;background-color:transparent;font-size:11pt;vertical-align:baseline>
        <br class=kix-line-break>
      </span>
      <font face=Arial>
        <span style=font-size:14.6667px>The act of submitting a time that is not your Personal Record for the particular category, whether it is a world record or not, is an intolerable, deceitful act that F-Zero Central condemns.</span>
      </font>
    </p>
  </span>
</pre>
<p>&nbsp;</p>
{% endblock %}
