{% extends 'rules/base.html' %}

{% block rules_content %}
<p style=text-align:center>
  <span style=font-size:xx-large>
    <strong>
      <span style=font-family:Arial>F-ZERO Central F-ZERO GX Time Submission Rules</span>
    </strong>
  </span>
</p>
<p>
  <span style=font-family:Arial></span>
</p>
<p align=center>
  <u>
    <strong>
      <span style=font-family:Arial>Last Updated:</span>
    </strong>
  </u>
  <strong>
    <span style=font-family:Arial>&nbsp;23rd March 2021</span>
  </strong>
</p>
<hr>
<p align=center>
  <span style=font-family:Arial>&nbsp;</span>
  <span style=font-family:Arial>
    <span style=font-size:x-large>Rules for All Three Ladders</span>
  </span>
</p>
<p>
  <span style=font-family:Arial></span>
</p>
<p style=text-align:left>
  <span style=font-family:Arial>1. </span>
  <span style=font-family:Arial>Course Times and Speeds must be obtained using Time Attack mode. Lap Times must be obtained with either Time Attack mode or Practice mode with CPUs off. </span>
</p>
<p style=text-align:left>
  <span style=font-family:Arial>2. If you have the Restore feature turned on in practice mode to set a fast lap, the following exploits cannot be used: </span>
</p>
<ul>
  <li>
    <span style=font-family:Arial>Going out of bounds before completing a lap, but still complete the lap as the machine is being restored - <a href="http://www.youtube.com/watch?v=jTdh8jtV9vQ">Video Demonstration</a>
    </span>
  </li>
  <li>
    <span style=font-family:Arial>Falling off course immediately after the lap begins in a specific way that makes the machine be restored right before the start/finish line, completing the lap in potentially under 4 seconds - <a href="http://www.youtube.com/watch?v=4DO1HFK9j_c">Video Demonstration</a>
    </span>
    <span style=font-size:small>&nbsp;</span>
  </li>
</ul>
<p style=text-align:left>
  <span style=font-family:Arial>3. Turbo Controllers are banned from being used on any of the three F-ZERO GX Ladders, as they present the player with an unfair advantage. <strong>Players are reminded that if they have any times set with a turbo controller, they must change them immediately.</strong>
  </span>
</p>
<p style=text-align:left>
  <span style=font-family:Arial>4. Players should add in their comments if they played in 50Hz. Times set in 50Hz are not accepted as a "world record", since any version of the game supports 60Hz.</span>
  <span style=font-family:Arial>
    <br>
  </span>
</p>
<p style=text-align:left>
  <span style=font-family:Arial>5. Submit times only achieved by yourself, don't submit times that have been achieved by a number of people. It is an individual competition; it's not meant for teams. <br>
  </span>
</p>
<p style=text-align:left>
  <span style=font-family:Arial>6. The use of cheat devices such as Action Replay are forbidden on all of the ladders. If it is suspected that a cheat device has been used, then that player will have their times removed from the ladder.&nbsp; <br>
  </span>
</p>
<p style=text-align:left>
  <span style=font-family:Arial>*NOTE: An exception has been made to F-ZERO GX, as Action&nbsp;Replay is the only method available to unlock the Japanese AX event parts. Players should use the AR only once to unlock them. <br>
  </span>
</p>
<p style=text-align:left>
  <span style=font-family:Arial>7. FZC reserves the right to request proof of your times. Proof could be requested at random, or if there's a concern that false times might have been submitted. Any requests for proof will be handled by a member of the F-ZERO Staff. <br>
  </span>
</p>
<p style=text-align:left>
  <span style=font-family:Arial>8. Multiple accounts for the same player are not allowed, neither are joint accounts. <br>
  </span>
</p>
<p style=text-align:left>
  <span style=font-family:Arial>9. Emulators (such as Dolphin) are not allowed.</span>
</p>
<p style=text-align:left>
  <span style=font-family:Arial>10. Finally, NO CHEATING of any kind will be tolerated and will result in immediate removal from the ladders. Cheaters will also be considered for immediate removal from other F-ZERO Ladders on FZC.</span>
</p>
<p style=text-align:left>&nbsp;</p>
<div>
  <strong>Additional Rules for USB/SD Loaders</strong>
</div>
<div>&nbsp;</div>
<div>Due to the nature of how USB/SD loaders work, a few extra rules are needed to ensure no players obtain unexpected advantages over Disc users.</div>
<div>&nbsp;</div>
<div>Methods of USB/SD Loading allowed:</div>
<div>1. HDD or USB stick plugged to the back of a Wii</div>
<div>2. SD Card inserted in the front slot of a Wii</div>
<div>3. SDML adapter on Memory Card slot on GameCube</div>
<div>4. GCLoader Drive Replacement installed on GameCube</div>
<div>5. SD Card inserted in the front slot of a Wii U</div>
<div>6. HDD or USB stick plugged to a USB port on a Wii U</div>
<div>&nbsp;</div>
<div>Only these methods have been verified by the Staff and enough testing has been conducted to ensure times set using them are identical to times set with a Disc.</div>
<div>&nbsp;</div>
<div>Rules regarding usage of the game:</div>
<div>&nbsp;</div>
<div>1. The F-Zero GX image file (ISO) must not be modified in any way. it must be the same image file obtained by reading a F-Zero GX game disc with software capable of creating a backup image of the game. this prevents any possible advantage provided by creating new visual or audio cues.</div>
<div>2. Additional proof for times will be required in the form of Replay files. through testing, it's been determined that Replay files will only sync with game versions that don't have any modifications to machine stats.&nbsp;this ensures players won't be editing the game's files. as a side effect, Story Mode times set on USB/SD Loaders won't be allowed because this form of proof can't be obtained from that mode.</div>
<div>3. USB/SD Loader software such as Nintendont usually comes with functionality for cheat codes. make sure they are turned off when setting times. you're allowed to unlock the Event Parts (Gold Parts) in the same way it is done with Action Replay.</div>
<p style=text-align:left>&nbsp;</p>
<hr>
<p style=text-align:center>
  <span style=font-family:Arial>&nbsp;</span>
  <span style=font-family:Arial>
    <span style=font-size:x-large>Max Speed Ladder</span>
  </span>
</p>
<p style=text-align:left>
  <span style=font-family:Arial>1. Times in the GX Max Speed Ladder must be set at 100% Max Speed settings <strong>ONLY.</strong>
    <br>
  </span>
</p>
<p style=text-align:left>
  <span style=font-family:Arial>2. No checkpoint skipping is allowed to be used in the Max Speed ladder. This includes the use of this shortcut on PRSLS: </span>
  <font face=Verdana>
    <a href=http://wrvids.com/F-Zero_series/F-Zero%20GX/prsls_midiman_nazo.mpg>
      <span style=font-family:Arial>prsls_mts_shortcut.mpg</span>
    </a>
  </font>
</p>
<p style=text-align:left>
  <span style=font-family:Arial>3. Quickturn alternations with custom machines with a body of E/D are banned, unless if it is naturally required by the track, either by a curve, or to align a certain position and angle. This rule has been done to prevent snaking with custom vehicles.</span>
</p>
<p style=text-align:left>
  <span style=font-family:Arial>4. Side Attacks are allowed to be used, but HSSA (Hyper Speed Side Attack) is not allowed.</span>
</p>
<p style=text-align:left>-</p>
<p>
  <strong>(Not ladder rules!)</strong>&nbsp;- Below are the rules applied to the Non-Side Attack category displayed in the&nbsp; <a href="http://www.fzerocentral.org/viewtopic.php?t=13710">WR List</a>:
</p>
<ol>
  <li>100% Max Speed settings ONLY.</li>
  <li>No checkpoint skipping is allowed to be used in the Non-SA category. This includes the use of this shortcut on PRSLS: <font face=Verdana>
      <a href=http://wrvids.com/F-Zero_series/F-Zero%20GX/prsls_midiman_nazo.mpg>
        <span style=font-family:Arial>prsls_mts_shortcut.mpg</span>
      </a>
    </font>
  </li>
  <li>Side Attacks are not allowed.</li>
  <li>Machines with a body rating of E or D are not allowed.</li>
</ol>
<hr>
<p style=text-align:center>
  <span style=font-family:Arial>
    <span style=font-size:x-large>Snaking Ladder</span>
  </span>
</p>
<p style=text-align:left>
  <span style=font-family:Arial>1. Times in the GX Snaking Ladder must be set at 0% (Max Acceleration) settings <strong>ONLY.</strong>
  </span>
</p>
<p style=text-align:left>
  <span style=font-family:Arial>2. No checkpoint skipping is allowed to be used in the Snaking ladder. This includes the use of this shortcut on PRSLS:&nbsp;</span>
  <font face=Verdana>
    <a href=http://wrvids.com/F-Zero_series/F-Zero%20GX/prsls_midiman_nazo.mpg>
      <span style=font-family:Arial>prsls_mts_shortcut.mpg</span>
    </a>
  </font>
</p>
<p style=text-align:left>
  <span style=font-family:Arial>3. Snaking patterns in the air are only allowed to be performed <strong>ONCE</strong>&nbsp;when using a machine that weighs less than 2050kg. This has been done to prevent unintentional flying. </span>
</p>
<p style=text-align:left>
  <span style=font-family:Arial>4. Flying through the whole course, even without skipping checkpoints, is prohibited.</span>
</p>
<p style=text-align:left>
  <span style=font-family:Arial>5. Side Attacks are allowed to be used, but HSSA (Hyper Speed Side Attack) is not allowed.</span>
</p>
<hr>
<p style=text-align:center>&nbsp; <span style=font-family:Arial></span>
  <span style=font-size:x-large>Open Ladder</span>
</p>
<p>
  <span style=font-family:Arial>1. Times in the GX Open Ladder can be set at any setting. This ladder allows the use of Snaking, Space Flying, and Non-Snaking. </span>
</p>
<p>
  <span style=font-family:Arial>2.&nbsp;Checkpoint skipping is also allowed in this ladder.</span>
</p>
<p>
  <span style=font-family:Arial></span>
</p>
<p>
  <span style=font-family:Arial>3. HSSA (Hyper Speed Side Attack) is allowed in this ladder.</span>
</p>
<hr>
<p style=text-align:center>
  <span style=font-family:Arial>
    <span style=font-size:x-large>FZC Best and World Record Submission Rules</span>
  </span>
</p>
<p style=text-align:center>
  <span style=font-family:Arial>In order to have an FZC Best or World Record to be accepted to FZC, one must follow the requirements of "full video proof". If an FZC Best/WR does not adhere to the requirements listed for "full video proof", the time is subject to immediate removal from the ladder.</span>
</p>
<p>
  <span style=font-family:Arial>Requirements of "Full Video Proof":</span>
</p>
<ol>
  <li>
    <span style=font-family:Arial>The video must be a <strong>full</strong> recording of the actual run from start of the race to finish. </span>
  </li>
  <li>
    <span style=font-family:Arial>The video <u>should</u> display the ending stats from the race after it is ove <span style=color:rgb(0,0,0)>r.</span>
    </span>
  </li>
  <li>
    <span style=font-family:Arial>If the video is being recorded from a camera and not directly from the source, the player must bring the controller up to the camera at the end of the race and push buttons on the game pad to indicate that what is happening on display is in sync with the players input.</span>
  </li>
  <li>
    <span style=font-family:Arial>
      <span style=color:rgb(0,0,0)>The video must always be available to the public. If at any point you remove your video from public, FZC witholds the right to take down your time associated with that video.</span>
    </span>
  </li>
</ol>
<p>
  <span style=font-family:Arial>*FZC Bests/World Records submitted to FZC previous to the date of March 1st 2013, does not need to adhere by the requirements of "Full Video Proof".</span>
</p>
<hr>
<p style='font-family:verdana,"courier new",Arial,Helvetica,sans-serif;font-size:13.3333px;background-color:rgb(247,247,247);text-align:center'>
  <span style=font-family:Arial>
    <span style=font-size:x-large>F-Zero Central Ladder Guidelines</span>
  </span>
</p>
<p style=background-color:rgb(247,247,247)>
  <font face=Arial>
    <span style=font-size:13.3333px>The following are not enforceable&nbsp;rules, but guidelines for all players to follow:&nbsp;</span>
  </font>
  <a href="https://www.fzerocentral.org/viewtopic.php?t=14230" style='font-family:verdana,"courier new",Arial,Helvetica,sans-serif;font-size:13.3333px;background:transparent;color:rgb(61,106,147)'>
    <span style=font-family:Arial>www.fzerocentral.org/viewtopic.php</span>
  </a>
</p>
<p>
  <strong>-UPDATE- 15th September 2014:</strong>
</p>
<p>As of the 15th of September 2014, the replay mode cannot be used as a proof for FZC Bests/World Records anymore. (Explanation given on this page: <a href="http://www.fzerocentral.org/viewtopic.php?t=13926&amp;start=0">http://www.fzerocentral.org/viewtopic.php?t=13926&amp;start=0</a>) </p>
<p>The updated rules requires the WR player to do one of the following options:</p>
<ol>
  <li>Make a live recording. Video example: <a href="https://www.youtube.com/watch?v=FDrXT_nRS_E">https://www.youtube.com/watch?v=FDrXT_nRS_E</a>
  </li>
  <li>Make a recording that starts from the results screen (with the lap splits and such), and ends after the "instant replay mode" (replay mode with the replay icon shown at the bottom left of the screen). Video Example: <a href="https://www.youtube.com/watch?v=E5sRMcSmLGs">https://www.youtube.com/watch?v=E5sRMcSmLGs</a>
  </li>
</ol>
<p>If for whatever reason, suspicion were to occur from the above method of providing proof, further proof (such as streaming) could get requested.</p>
<p>*NOTE: FZC Bests/World Records that used the replay mode as a proof before the 15th of September 2014 are still valid as FZC Bests/World Records.</p>
<p>&nbsp;</p>
<p>
  <strong>-UPDATE- 15th August 2015:</strong>
</p>
<p>As of the 15th of August 2015, the Max Speed rules have been amended to clarify the use of quick turns in straight roads to prevent deliberate Snaking in 100% Max Speed settings and to make things more clear overall.</p>
<p>&nbsp;</p>
<p>
  <strong>-UPDATE- 5th September 2017:</strong>
</p>
<p>Added a rule for all three ladders to clarify which game modes can be used: "Course Times and Speeds must be obtained using Time Attack mode. Lap Times must be obtained with either Time Attack mode or Practice mode with CPUs off."</p>
<p>Removed "Only submit times that are shown on your records screen." sentence from the "individual competition" rule. Having times saved to your memory card is not a requirement since (1) Spaceflying times below 20 seconds may not save due to a glitch, and (2) Lap Times achieved in Practice mode don't get saved.</p>
<p>&nbsp;</p>
<p>
  <strong>-UPDATE- 17th June 2018:</strong>
</p>
<p>As of the 17th of June 2018, USB Loaders are allowed to use for setting Course Times and Fast Laps.</p>
<p>old rules that prohibited the use of ISOs were removed.</p>
<p>&nbsp;</p>
<p>
  <strong>-UPDATE- 17th January 2021:</strong>
</p>
<p>
  <span style=font-family:Arial>Banned two exploits that take advantage of the Restore feature in Practice Mode that allows to set fast lap times that would not be possible to do in Time Attack mode:</span>
</p>
<p>
  <span style=font-family:Arial>"If you have the Restore feature turned on in practice mode to set a fast lap, the following exploits cannot be used</span>
</p>
<ul>
  <li>
    <span style=font-family:Arial>Going out of bounds before completing a lap, but still complete the lap as the machine is being restored -&nbsp;</span>
    <a href="https://www.youtube.com/watch?v=jTdh8jtV9vQ">
      <span style=font-family:Arial>Video Demonstration</span>
    </a>
  </li>
  <li>
    <span style=font-family:Arial>Falling off course immediately after the lap begins in a specific way that makes the machine be restored right before the start/finish line, completing the lap in potentially under 4 seconds -&nbsp;</span>
    <a href="https://www.youtube.com/watch?v=4DO1HFK9j_c">
      <span style=font-family:Arial>Video Demonstration</span>
    </a>
    <span style=font-family:Arial>"</span>
  </li>
</ul>
<p>&nbsp;</p>
<p>
  <strong>-UPDATE- 23rd March 2021:</strong>
</p>
<p>added GCLoader to the allowed USB/SD Loader methods</p>
<p>changed "USB Loader" to "USB/SD Loader" for better acurracy</p>
<p>&nbsp;</p>
{% endblock %}
