{% extends 'rules/base.html' %}

{% block rules_content %}
<p align=center>
  <span style=font-size:xx-large>
    <strong>F-ZERO Central F-ZERO SNES Time Submission Rules</strong>
  </span>
</p>
<p align=center>Last Updated: 23 Mar 2021</p>
<hr>
<p style=text-align:left>&nbsp;(Note: The use of the phrase "save state" in the following text refers to any kind of save state from a SNES/SFC game saver, restore point from a WiiUVC, and suspend point from a SNES/SFC Mini and Nintendo Switch SNES App)</p>
<p style=text-align:left>Any players who do not adhere to the following rules are subject to having their times removed from the ladder.</p>
<p align=center>
  <font size=5>Basic Ladder Rules</font>
</p>
<p>1. Turbo Controllers are banned from being used on the Ladder as they present the player with an unfair advantage. Players are reminded that if they have any&nbsp;times set with a turbo controller they must change them&nbsp;immediately.</p>
<p>2. FZC only accepts times set on the Super Nintendo Entertainment System/ Super Famicom, Wii Virtual Console, WiiU Virtual Console, 3DS Virtual Console, SNES/SFC Mini and Nintendo Switch Online service SNES App versions of the game. Flashcarts are allowed for the SNES version for savestate usage and times using this have to follow the savestate rules.</p>
<p>3. The use of cheat devices such as Action Replay, Game Genie, ect. are forbidden on the ladder.</p>
<p>4. Multiple accounts for the same player are not allowed, neither are joint accounts.</p>
<p>5. On the NTSC version of the game (This rule does not apply to the PAL version), pausing during the middle of a run is not allowed. For fast laps, pausing the game before entering the lap is fine. The reason for this rule is explained in greater detail <a href="http://www.fzerocentral.org/viewtopic.php?t=13945">here</a>. This rule only applies to times set after 5 November 2014. </p>
<p>6. Finally, NO CHEATING of any kind will be tolerated. If you are found to be cheating, it will result in immediate removal of all your times from the SNES ladder. Any other times you have submitted to FZC will also be subject to removal.</p>
<p style=text-align:center>
  <span style=font-size:x-large>Save State Rules for Runs Submitted to Ladder <br>
  </span>
</p>
<p style=text-align:center>For practice, save states may be used however a player likes. However when submitting runs to the FZC ladder or for WR, save states may only be used as described below. If save states are used anywhere else other than as described below, the player doing so will have their associated time removed.</p>
<p style=text-align:center>
  <span style=font-size:large>5-Laps</span>
</p>
<p>1. Before the timer of the 5-lap attempt first starts.</p>
<p style=text-align:center>
  <span style=font-size:large>Fast Laps</span>
</p>
<p style=text-align:left>1. Before any S-Jet is activated that leads into the fast lap being attempted. <br>
  <br> 2. For DEATH WIND I, DEATH WIND II, and FIRE FIELD: Before touching the arrow leading into the lap. With that, the save state may only be set before enterting the fast lap and must be set in such a way that the player must be required to give the machine input to move it into the arrow after activating the save state. (i.e. if a save state is activated and the machine can move into the arrow without input, then the fast lap is void). Also, unpausing the game does not constitute as giving the machine input.
</p>
<hr>
<p style=text-align:center>
  <span style=font-size:x-large>FZC Best and World Record Submission Rules</span>
</p>
<p style=text-align:center>To have a FZC Best or World Record accepted to FZC, it must follow the requirements of 'full video proof' defined below. If a FZC Best/WR does not adhere to the requirements listed for 'full video proof,' the time is subject to immediate removal from the ladder**.</p>
<p>A video submission that qualifies as 'full video proof' must meet all the following requirements:</p>
<ol>
  <li>The video must be a <strong>full</strong> recording of the actual run from start of the race to finish. If recording fast laps without save states, in general try to show around half a second before the first S-Jet is activated. For DWI, DWII, and FF, try to show around 2 seconds before hitting the arrow. </li>
  <li>The video must display the ending stats from the race after it is over.</li>
  <li>If the video is being recorded from a camera and not directly from the source, the player must bring the controller up to the camera at the end of the race and push buttons on the game pad to indicate that what is happening on display is in sync with the players input.</li>
  <li>
    <span style=color:rgb(0,0,0)>The video must always be available to the public. If at any point you remove your video for any to see, FZC reserves the right to take down your time associated with that video.</span>
  </li>
</ol>
<p>Extra rules for players using save states for fast laps:</p>
<p>Use of a save state must be shown in the recording before the start of the lap: <br> -for SNES/SFC game savers, this means showing the frame before activation of the save state, which is generally a black screen <br> -for the WiiUVC, this means showing the main menu where the restore point is activated <br> -for the SNES Mini, this means showing the home menu where you select the suspend point <br> -for the Nintendo Switch Online SNES App, this means showing the Save States Menu before picking the corresponding Save State </p>
<p style=text-align:left>**FZC Bests/World Records submitted to FZC previous to the date of March 1st 2013 do not need to adhere by the requirements of 'full video proof.' <span style=font-family:Arial>
    <br>
  </span>
</p>
<hr>
<p style='font-family:verdana,"courier new",Arial,Helvetica,sans-serif;font-size:13.3333px;text-align:center'>
  <span style=font-family:Arial>
    <span style=font-size:x-large>F-Zero Central Ladder Guidelines</span>
  </span>
</p>
<p>
  <span style=font-family:Arial>
    <a href="/guidelines.php" target=_blank>Read here</a> - these are not enforceable rules, but guidelines for all players to follow.
  </span>
</p>
<p>&nbsp;</p>
<hr>
<p>
  <span style=font-size:small>Edit notes: <br type=_moz>
  </span>
</p>
<ul>
  <li>
    <span style=font-size:small>28 Aug 2020: Improved wording on the 'public video proof' rule.</span>
  </li>
  <li>23 Mar 2021: added "Flashcart" to the accepted methods officially.</li>
</ul>
{% endblock %}
