<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="revisit-after" content="2">
    <meta name="classification" content="Computers">
    <meta name="description" content="F-Zero Central hosts time attack ladders for the F-Zero racing game series!">
    <meta name="keywords" content="F-Zero,F-Zero Central">
    <meta name="robots" content="FOLLOW">
    <meta name="distribution" content="Global">
    <meta name="rating" content="GENERAL">
    <title>F-Zero Central :: {{ PAGE_TITLE }}</title>
    <link rel="shortcut icon" type="image/png" href="./images/favicon-bluefalcon.png">
    <link rel="stylesheet" href="fzero.css?{{ fzero_css_mtime }}">
    <!-- Currently unused scripts -->
    <!-- <script src="/templates/subSilver/js/onloadInit.js"></script>
    <script src="/templates/subSilver/js/mfoJS.js"></script> -->
  </head>
  <body class='{{ page_class }}'>
    <a name="top"></a>

    <!-- Old navigation menu; we're not using this as long as forums, articles, etc. are still unavailable -->
    <!-- <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/forum">Forums</a>
        <ul>
          <li><a href="/forum/viewforum.php?f=">General</a></li>
          <li><a href="/forum/viewforum.php?f=">F-Zero Climax</a></li>
          <li><a href="/forum/viewforum.php?f=">F-Zero GP Legend</a></li>
          <li><a href="/forum/viewforum.php?f=">F-Zero GX</a></li>
          <li><a href="/forum/viewforum.php?f=">F-Zero MV</a></li>
          <li><a href="/forum/viewforum.php?f=">F-Zero X</a></li>
          <li><a href="/forum/viewforum.php?f=">F-Zero SNES</a></li>
        </ul>
      </li>
      <li>
        <a href="/">Resources</a>
        <ul>
          <li><a href="/forum/viewtopic.php?f=">F-Zero Climax</a></li>
          <li><a href="/forum/viewtopic.php?f=">F-Zero GP Legend</a></li>
          <li><a href="/forum/viewtopic.php?f=">F-Zero GX</a></li>
          <li><a href="/forum/viewtopic.php?f=">F-Zero MV</a></li>
          <li><a href="/forum/viewtopic.php?f=">F-Zero X</a></li>
          <li><a href="/forum/viewtopic.php?f=">F-Zero SNES</a></li>
        </ul>
      </li>
      <li>
        <a href="/">Videos</a>
        <ul>
          <li><a href="/forum/viewtopic.php?f=">F-Zero Climax</a></li>
          <li><a href="/forum/viewtopic.php?f=">F-Zero GP Legend</a></li>
          <li><a href="/forum/viewtopic.php?f=">F-Zero GX</a></li>
          <li><a href="/forum/viewtopic.php?f=">F-Zero MV</a></li>
          <li><a href="/forum/viewtopic.php?f=">F-Zero X</a></li>
          <li><a href="/forum/viewtopic.php?f=">F-Zero SNES</a></li>
        </ul>
      </li>
      <li>
        <a href="/">Ladders</a>
        <ul>
          <li><a href="">Overall Ladder</a></li>
          <li><a href="">Championships</a></li>

          <li><a href="">Climax Ladder</a></li>
          <li><a href="">Climax Zero Test Ladder</a></li>
          <li><a href="">Climax Survival Ladder</a></li>

          <li><a href="">GP Legend Ladder</a></li>
          <li><a href="">GP Legend Zero Test Ladder</a></li>

          <li><a href="">GX Open Ladder</a></li>
          <li><a href="">GX Max Speed Ladder</a></li>
          <li><a href="">GX Snaking Ladder</a></li>
          <li><a href="">GX Story Max Speed Ladder</a></li>
          <li><a href="">GX Story Snaking Ladder</a></li>

          <li><a href="">MV Ladder</a></li>

          <li><a href="">X Open Ladder</a></li>
          <li><a href="">X Expansion Kit Ladder</a></li>
          <li><a href="">X Death Race Ladder</a></li>
          <li><a href="">X Jumper Ladder</a></li>

          <li><a href="">SNES Ladder</a></li>
        </ul>
      </li>
      <li>
        <a href="/">World Records</a>
        <ul>
          <li><a href="/forum/viewtopic.php?f=">F-Zero Climax</a></li>
          <li><a href="/forum/viewtopic.php?f=">F-Zero GP Legend</a></li>
          <li><a href="/forum/viewtopic.php?f=">F-Zero GX</a></li>
          <li><a href="/forum/viewtopic.php?f=">F-Zero MV</a></li>
          <li><a href="/forum/viewtopic.php?f=">F-Zero X</a></li>
          <li><a href="/forum/viewtopic.php?f=">F-Zero SNES</a></li>

          <li><a href="/forum/viewtopic.php?f=">Histories and stats</a></li>
        </ul>
      </li>
    </ul> -->

    <!-- Rest of the header starting with the F-Zero Central logo -->
    <MAP NAME="fzerotop_Map">
      <AREA SHAPE="rect" ALT="Home Page" COORDS="0,0,323,38" HREF="/">
    </MAP>

    <!-- FZC header with game choices -->
    <div id="fzc-header">
      <!-- Logo image on left -->
      <img src="/images/header.png" alt="F-Zero Central" USEMAP="#fzerotop_Map" style="padding-right: 60px">
      <!-- Links -->
      <a class="logo-menu-item" style="left: 238; top: 45;" href="https://docs.google.com/document/d/1URuHyB6RxBinV7BYtl7jZIe0JJMRTmVi-m-0ebTpYpI/edit">Community Update (Jul/Aug)</a>
      <a class="logo-menu-item" style="left: 231; top: 70;" href="https://discord.gg/wT4RWTPTHk">Discord Server</a>
      <a class="logo-menu-item" style="left: 222; top: 95;" href="/overall_ladder.php">Overall Ladder</a>
      <a class="logo-menu-item" style="left: 210; top: 120;" href="/championships_ladder.php">Championships</a>

      <div id="UnSelectedForums">
        <img src="/images/choose_game.gif">
        <div>
          {% for game in ['climax', 'gpl', 'mv', 'x', 'gx', 'snes'] %}
            {% if game == selected_game %}
              <a id="f4-3" href="/game.php?id={{ game }}">
                <img src="/images/selected_game_{{ game }}.gif" alt="F-Zero {{ game }}">
              </a>
            {% else %}
              <a id="f4-3" href="/game.php?id={{ game }}">
                <img src="/images/unselected_game_{{ game }}.gif" alt="F-Zero {{ game }}">
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div style='color: black; background-color: #F8DE7E; padding: 10px; font-size: 10pt'>
      <p style='margin: 0px;'>
        You can now reset your password via email, login, and submit new records.
        <br/>
        The forum and sign ups are still offline.
      </p>
    </div>

    <!-- Bar for social media icons + game specific buttons -->
    <div id="button-bar">
      <a href="https://twitter.com/fzerocentral">
        <img src="/images/social/twitter.png" alt="Twitter" title="Twitter" />
      </a>
      <a href="https://www.facebook.com/fzerocentral/">
        <img src="/images/social/facebook.png" alt="Facebook" title="Facebook" />
      </a>
      <a href="https://www.youtube.com/user/fzerocentralorg">
        <img src="/images/social/youtube.png" alt="YouTube" title="YouTube" />
      </a>
      <a href="https://www.twitch.tv/fzerocentral">
        <img src="/images/social/twitch.png" alt="Twitch" title="Twitch" />
      </a>
      |
      {% if current_user %}
        <span>Logged in as {{ current_user.username|e }}</span>

        <a href="/profile.php">Profile</a>

        <form action="/logout.php" method="post" style="display: inline-block">
          <input type="submit" value="Logout" />
        </form>
      {% else %}
        <a href="/login.php">Login</a>
        <!--
        or
        <a href="/login.php">Sign-up</a>
        -->
      {% endif %}
    </div>

    <div style="height: 20px;"></div>

    <!-- Page's main content -->
    <div style="background-color: #23237B;" class="main-content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
