{% extends 'base.html' %}

{% block content %}
  <div style="font: 10pt Verdana; background-color: #f7f7f7; padding: 10px 20px; margin-bottom: 20px; border: 1px black solid; border-radius: 10px">
    <p style="font-weight: bold; text-align: center">
      F-Zero {{ ladder.ladder_name|e }} - {{ cup.cupname|e }} - {{ course.name|e }}
    </p>

    <p>Times in <a style='color:#339900'>green</a> were updated in the last week.</p>
    <p>Times in <a style='color:#666666;'>grey</a> have not been updated in over a month.</p>

    <p><a href="/ladder.php?id={{ ladder_id }}">Go back to ladder</a></p>
    <details>
      <summary style="cursor: pointer; text-decoration: underline">View course times</summary>
      <div style="display: flex; gap: 40px;">
        {% for cup in ladder.cups.cup %}
          <p>
            {{ cup.cupname }}<br>
            {% for course in cup.courses.course %}
            <a href="/course.php?ladder={{ ladder_id }}&cup={{ cup.attributes.cupid }}&course={{ course.attributes.courseid }}">{{ course.name }}</a><br>
            {% endfor %}
          </p>
        {% endfor %}
      </div>
    </details>

    <p><a href="/client.php?ladder={{ ladder_id }}">Add your times</a></p>

    <!--<p>Use <img src="images/lightning.gif"> to compare yourself to any player</p>-->
  </div>

  <table class='scoreboard'>
    <thead>
      <tr>
        <td colspan='2'>Player</td>
        <td>Course time</td>
        <td>Best lap</td>
        {% if ladder.hasspeed == 'Yes' %}<td>Max speed</td>{% endif %}
        <td></td>
      </tr>
    </thead>

    <tbody class='entries'>
      {% for entry in entries %}
        <tr>
          <td>
            {{ entry.position}}.
          </td>
          <td>
            {{ entry.location|flag }}
            <a href='course.php?ladder={{ ladder_id }}&cup={{ cup.attributes.cupid }}&course={{ course.attributes.courseid }}'>{{ entry.username|e }}</a>
          </td>
          <td>
            <span>{{ entry.course_value | format_time }}</span>
            <img src="{{ entry.course_ship_image|e }}" title="{{ entry.course_ship }}" />
            {% if entry.course_has_proof %}
              {{ entry | proof_link("course_") }}
            {% endif %}
            <span>{{ entry.course_platform }}</span>
          </td>
          <td>
            {% if ladder.haslap == 'Yes' %}
              <span>{{ entry.lap_value|format_time }}</span>
              <img src="{{ entry.lap_ship_image|e }}" title="{{ entry.lap_ship }}" />
              {% if entry.lap_has_proof %}
                {{ entry | proof_link("lap_") }}
              {% endif %}
            {% endif %}
          </td>
          {% if ladder.hasspeed == 'Yes' %}
            <td>
              <span>{{ entry.speed_value }}</span>
              <img src="{{ entry.speed_ship_image|e }}" title="{{ entry.speed_ship }}" />
              {% if entry.speed_has_proof %}
                {{ entry | proof_link("speed_") }}
              {% endif %}
            </td>
          {% endif %}
          <td>
            {% if entry.course_notes != '' %}<div>{{ entry.course_notes|e }}</div>{% endif %}
            {% if entry.lap_notes != '' %}<div>{{ entry.lap_notes|e }}</div>{% endif %}
          </td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
{% endblock %}
