{% extends "base.html" %}

{% block content %}
      <div id="home-page-column-container">
        <div style="flex: 1 0 230px;">
          <div class="home-page-box">
            <div class="home-page-box-header-bar">
              <span>News</span>
            </div>
            <div class="home-page-box-body news">
              <a href="https://docs.google.com/document/d/1u-tZh2gz0ZKMG3_A3cRmlQq3_ITG350EpYAyLc8vit0/edit">FZC Community Update December 2021</a><br>
              <small>January 2, 2021<br><br></small>
              <a href="https://docs.google.com/document/d/1NI45jvECKyHBKTrUJjorjP_k9N7OLzlO6VmV5AMFkQs/edit">FZC Community Update November 2021</a><br>
              <small>November 27, 2021<br><br></small>
              <a href="https://docs.google.com/document/d/1M2INHfksetaIWF5jhDJ84qyhx-qVIXd9ZEqlZrZa-lo/edit">FZC Community Update October 2021</a><br>
              <small>October 31, 2021<br><br></small>
              <a href="https://docs.google.com/document/d/12xIlj0PVVw-Ab030E8WIw6lmBYvmpJvbLErkmpko-TA/edit">FZC Community Update September 2021</a><br>
              <small>September 26, 2021<br><br></small>
              <a href="https://docs.google.com/document/d/1YQ80QKGYkqoBT8PmBL_LQTlNoWUPvZSEBY4i8ogPXk0/edit">FZC Community Update August 2021</a><br>
              <small>August 29, 2021<br><br></small>
            </div>
          </div>
          <div class="home-page-box">
            <div class="home-page-box-header-bar">
              <span>Competition related links</span>
            </div>
            <div class="home-page-box-body links">
              <a href="https://www.speedrun.com/f-zero">Speedrun.com RTA rankings</a><br>
              <a href="http://fzerowrs.com/">WR histories and stats</a><br>
              <a href="http://kabedori.blog33.fc2.com/">RichardTaro's WR blog (JP)</a><br>
              <a href="https://www.cyberscore.me.uk/scoreboard.php?board=1&series=18">Cyberscore rankings</a>
            </div>
          </div>
          <div class="home-page-box">
            <div class="home-page-box-header-bar">
              <span>Other F-Zero links</span>
            </div>
            <div class="home-page-box-body links">
              <a href="https://discord.gg/79pPFR2hHu">Discord - F-Zero Nexus</a><br>
              <a href="https://www.reddit.com/r/Fzero/">Reddit - /r/Fzero</a><br>
              <a href="https://gamebanana.com/games/5899">GX mods at GameBanana</a><br>
              <a href="http://backup.segakore.fr/f-zero.jp/">GX/AX official site (archived)</a>
            </div>
          </div>
        </div>

        <div style="flex: 1 0 500px;">
          <div class="home-page-box">
            <div class="home-page-box-header-bar" style="text-align: center; background-color: hsl(0,0%,92%); background-image: none;">
              <img src="/images/welcome_banner.png" />
            </div>
            <div class="home-page-box-body">
              Welcome to F-Zero Central! We are a competition and fan community for the high-speed, futuristic racing game series known as F-Zero. Our site features Time Attack ladders for each of the 6 F-Zero games released on console.
              <br><br>
              We are proud to represent F-Zero pilots of all skill levels here, from world record holders to those completely new to the series. You can find discussion about the website on <a href="https://discord.gg/wT4RWTPTHk">our Discord server</a>. You can also find a lot of our members at the <a href="https://discord.gg/79pPFR2hHu">F-Zero Nexus Discord server</a>, which welcomes competitive discussion as well as general chat about F-Zero.
              <br><br>
              F-Zero Central is one of the oldest speedrun or time attack communities on the Internet, with over 15 years of history. Recently we've been short-handed in terms of site development, so some site features may be lacking for a while, but we'll do our best to keep things running. If you need any assistance with the site, feel free to ask us on our Discord, <a href="https://www.facebook.com/fzerocentral/">Facebook</a>, or <a href="https://twitter.com/fzerocentral">Twitter</a>.
            </div>
          </div>
        </div>

        <div style="flex: 1 0 250px;">
          <div class="home-page-box">
            <!-- Info on data-* attributes: https://dev.twitter.com/web/embedded-timelines/parameters -->
            <a class="twitter-timeline" data-chrome="nofooter" href="https://twitter.com/fzerocentral" data-widget-id="501910691037470721" data-height="420px">Tweets by @fzerocentral</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
      </div>
{% endblock %}
