{% extends "base.html" %}

{% block content %}
      <div id="home-page-column-container">
        <div style="flex: 1 0 240px;">
          <div class="home-page-box">
            <div class="home-page-box-header-bar">
              <span>News</span>
            </div>
            <div class="home-page-box-body news">
              <a href="https://docs.google.com/document/d/1o3QIl0m0D0qJh6lhdETUjtbrg76GHnxLY_Tz6y0nzGM/edit">FZC Community Update Jan/Feb 2023</a><br>
              <small>February 26, 2023<br><br></small>
              <a href="https://docs.google.com/document/d/1PT4YHUHM7Apmcc2UMMQIGkd5CuYJ1toBbyUXVOyhiH4/edit">FZC Community Update December 2022</a><br>
              <small>December 31, 2022<br><br></small>
              <a href="https://docs.google.com/document/d/1r3t9bBnX7lOy2-sWEvtQwAjUmYWxsp8Z9NdN1wJkzzg/edit">FZC Community Update November 2022</a><br>
              <small>November 30, 2022<br><br></small>
              <a href="https://docs.google.com/document/d/10EgQXdU_T0rs23kVoi5fRaqNM3KNQTzvYBd6RhVjNHo/edit">FZC Community Update October 2022</a><br>
              <small>October 30, 2022<br><br></small>
              <a href="https://docs.google.com/document/d/1XeQMGhTVGuuSRElMJlUfXZ8X4_xUVMtgSdz8Mi0UD-w/edit">FZC Community Update September 2022</a><br>
              <small>October 1, 2022<br><br></small>
            </div>
          </div>
          <div class="home-page-box">
            <div class="home-page-box-header-bar">
              <span>Competition related links</span>
            </div>
            <div class="home-page-box-body links">
              <a href="https://drive.google.com/drive/u/0/folders/1WRthnmQYcbz2Vgk_G7CYL2bcWStFh7rn">FZC Ladder Progression sheets</a><br>
              <a href="http://fzerowrs.com/">Fzerowrs: WR histories/stats</a><br>
              <a href="https://www.speedrun.com/f-zero">Speedrun.com RTA rankings</a><br>
              <a href="https://cyberscore.me.uk/scoreboards/starboard?series=18">Cyberscore rankings</a>
            </div>
          </div>
          <div class="home-page-box">
            <div class="home-page-box-header-bar">
              <span>Other F-Zero links</span>
            </div>
            <div class="home-page-box-body links">
              <a href="https://discord.gg/79pPFR2hHu">F-Zero Nexus Discord server</a><br>
              <a href="https://www.reddit.com/r/Fzero/">/r/Fzero Subreddit</a><br>
              <a href="https://gamebanana.com/games/5899">GX mods at GameBanana</a><br>
              <a href="http://backup.segakore.fr/f-zero.jp/">GX/AX official site (archived)</a>
            </div>
          </div>
        </div>

        <div style="flex: 1 0 500px;">
          <div class="home-page-box">
            <div class="home-page-box-header-bar" style="text-align: center; background-color: hsl(0,0%,92%); background-image: none;">
              <img src="/images/welcome_banner.png" />
            </div>
            <div class="home-page-box-body">
              Welcome to F-Zero Central! We are a competition and fan community for the high-speed, futuristic racing game series known as F-Zero. Our site features Time Attack ladders for each of the 6 F-Zero games released on console. We are proud to represent F-Zero pilots of all skill levels here, from world record holders to those completely new to the series.
              <br><br>
              If you've got questions about our website or are interested in recent developments, we invite you to join the <a href="https://discord.gg/hEBSk55Cc9">FZC Discord server</a>. We also recommend checking out the <a href="https://discord.gg/79pPFR2hHu">F-Zero Nexus Discord server</a>, a broader F-Zero community which welcomes time attack related discussion as well as general chat about the series.
              <br><br>
              F-Zero Central is one of the oldest speedrun or time attack communities on the Internet, with over 15 years of history. Recently we've been short-handed in terms of site development, so some site features may be lacking for a while, but we'll do our best to keep things running. If you need any assistance with the site, feel free to ask us on our Discord, <a href="https://www.facebook.com/fzerocentral/">Facebook</a>, or <a href="https://twitter.com/fzerocentral">Twitter</a>.
            </div>
          </div>
        </div>

        <div style="flex: 1 0 250px;">
          <div class="home-page-box">
            <!-- Info on data-* attributes: https://dev.twitter.com/web/embedded-timelines/parameters -->
            <a class="twitter-timeline" data-chrome="nofooter" href="https://twitter.com/fzerocentral" data-widget-id="501910691037470721" data-height="420px">Tweets by @fzerocentral</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
      </div>
{% endblock %}
