{% extends "base.html" %}

{% block content %}
      <div id="home-page-column-container">
        <div style="flex: 1 0 240px;">
          <div class="home-page-box">
            <div class="home-page-box-header-bar">
              <span>News</span>
            </div>
            <div class="home-page-box-body news">
              <a href="https://docs.google.com/document/d/1wZvwAsyJwj83bfiegCWVEn6EQ_WI3dlRlkiSuKAI8jo/edit">FZC Community Update May/Jun 2025</a><br>
              <small>July 1, 2025<br><br></small>
              <a href="https://docs.google.com/document/d/1CXEJIAtL3Axnn2GbhkZk-NJTGoXtg5oXOvH_Uxi3Ndg/edit">FZC Community Update Mar/Apr 2025</a><br>
              <small>May 1, 2025<br><br></small>
              <a href="https://docs.google.com/document/d/1nEQU8a6MVabvt7CVFmape74-5rqBoe2uWOqblueM9Bk/edit">FZC Community Update Jan/Feb 2025</a><br>
              <small>March 1, 2025<br><br></small>
              <a href="https://docs.google.com/document/d/148D-VTc8FLu5M1BqiNlG1gmsQZHA0JSxHGeDeGWbKuU/edit">FZC Community Update Nov/Dec 2024</a><br>
              <small>December 31, 2024<br><br></small>
              <a href="https://docs.google.com/document/d/1zKAlOCxkUmECul_Mdy9mFmzgUtENv4KK3EL6cVv39z4/edit">FZC Community Update Sep/Oct 2024</a><br>
              <small>November 1, 2024<br><br></small>
              <a href="https://docs.google.com/document/d/1Eq-ivIxGfaz41lDbyUGI0jsiFBf0kAHtnIRiCO4KHgQ/edit">FZC Community Update Jul/Aug 2024</a><br>
              <small>September 1, 2024<br><br></small>
            </div>
          </div>
        </div>

        <div style="flex: 1 0 500px;">
          <div class="home-page-box">
            <div class="home-page-box-header-bar" style="text-align: center; background-color: hsl(0,0%,92%); background-image: none;">
              <img src="/images/welcome_banner.png" />
            </div>
            <div class="home-page-box-body">
              Welcome to F-Zero Central! We are a competition and fan community for the high-speed, futuristic racing game series known as F-Zero. Our Time Attack ladders include F-Zero pilots of all skill levels, from world record holders to those completely new to the series.
              <br><br>
              If you've got questions about our website or are interested in recent developments, we invite you to join the <a href="https://discord.gg/hEBSk55Cc9">FZC Discord server</a>. We also recommend checking out the <a href="https://discord.gg/79pPFR2hHu">F-Zero Nexus Discord server</a>, a broader F-Zero community which welcomes time attack related discussion as well as general chat about the series.
              <br><br>
              F-Zero Central is one of the oldest speedrun or time attack communities on the Internet, with over 20 years of history. In recent years we haven't had much time to work on the site, but we do our best to at least keep things running. We don't have an operational forum right now, but you can browse an archive of the old forum <a href="https://fzerocentral.org/next/old-forum">here</a>.
              <br><br>
              If you need any assistance with the site, feel free to ask us on our Discord, <a href="https://www.facebook.com/fzerocentral/">Facebook</a>, or <a href="https://bsky.app/profile/fzerocentral.bsky.social">Bluesky</a>.
            </div>
          </div>
        </div>

        <div style="flex: 1 0 240px;">
          <div class="home-page-box">
            <div class="home-page-box-header-bar">
              <span>Competition related links</span>
            </div>
            <div class="home-page-box-body links">
              <a href="https://drive.google.com/drive/u/0/folders/1WRthnmQYcbz2Vgk_G7CYL2bcWStFh7rn">FZC Ladder Progression sheets</a><br>
              <a href="http://fzerowrs.com/">Fzerowrs: WR histories/stats</a><br>
              <a href="https://www.speedrun.com/f-zero">Speedrun.com RTA rankings</a><br>
              <a href="https://cyberscore.me.uk/scoreboards/starboard?series=18">Cyberscore rankings</a>
            </div>
          </div>
          <div class="home-page-box">
            <div class="home-page-box-header-bar">
              <span>Other F-Zero links</span>
            </div>
            <div class="home-page-box-body links">
              <a href="https://discord.gg/79pPFR2hHu">F-Zero Nexus Discord server</a><br>
              <a href="https://www.reddit.com/r/Fzero/">/r/Fzero Subreddit</a><br>
              <a href="https://gamebanana.com/games/5899">GX mods at GameBanana</a><br>
              <a href="http://backup.segakore.fr/f-zero.jp/">GX/AX official site (archived)</a>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
