{% extends 'base.html' %}
{% block content %}
  <div style="font: 10pt Verdana; background-color: #f7f7f7; padding: 10px 20px; margin-bottom: 20px; border: 1px black solid; border-radius: 10px">
    <p style="font-weight: bold; text-align: center">
      F-Zero {{ ladder.ladder_name|e }} Ladder
    </p>

    <p>
      Click on a flag to view Country ladders
    </p>

    <details>
      <summary style="cursor: pointer; text-decoration: underline">View course times</summary>
      <div style="display: flex; gap: 40px;">
      {% for cup in ladder.cups.cup %}
        <p>
          {{ cup.cupname }}<br>
          {% for course in cup.courses.course %}
          <a href="/course.php?ladder={{ ladder_id }}&cup={{ cup.attributes.cupid }}&course={{ course.attributes.courseid }}">{{ course.name }}</a><br>
          {% endfor %}
        </p>
      {% endfor %}
      </div>
    </details>

    <p>
      <a href="/rules.php?game={{ selected_game }}">Rules</a>
      | <a href="/client.php?ladder={{ ladder_id }}">Add your times</a>
      | <a href="/ladder_latest.php?id={{ ladder_id }}">Latest submissions</a>
    </p>
  </div>

  <table class='scoreboard'>
    <thead>
      <tr>
        <td colspan='2'>Player</td>
        <td>Last update</td>
        <td>AF score</td>
        <td>SRPR score</td>
        <td>Course total</td>
        <td>Lap total</td>
      </tr>
    </thead>

    <tbody class='entries'>
      {% for entry in entries %}
        <tr>
          <td>{{ entry.position }}</td>
          <td>
            <a href='?id={{ ladder_id }}&country={{ entry.location|e }}'>{{ entry.location|flag }}</a>

            <a href='/viewplayer.php?ladder={{ ladder_id }}&user={{ entry.user_id }}'>{{ entry.username|e }}</a>
          </td>
          <td>{{ entry.last_change }}</td>
          <td>{{ entry.af }}</td>
          <td>{{ entry.srpr }}</td>
          <td>{{ entry.time|format_time }}</td>
          <td>{{ entry.lap|format_time }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
