{% extends 'base.html' %}

{% block content %}
<div class="section-box login">
  <p style="font-weight: bold; text-align: center">
    Login
  </p>

  {% if error %}
  <p class='error'>{{ error|e }}</p>
  {% endif %}

  <form method='post'>
    <p>Username: <input type='text' name='username' /></p>
    <p>Password: <input type='password' name='password' /></p>
    <p><input type='submit' value='Login' /></p>

    <p>If you forgot your password, or haven't logged in since early 2021: <br /><a href='/password_reset.php'>Reset password via email</a></p>
    <p>If your account isn't active yet: <a href='/activation_resend.php'>Send an activation email</a></p>
  </form>
</div>

{% endblock %}
