{% extends 'base.html' %}

{% block content %}
<div class="section-box password-change">
  <p style="font-weight: bold; text-align: center">
    Change your password
  </p>

  {% if error %}
    <p>The password reset link you clicked is invalid.</p>
    <p><a href='/password_reset.php'>Request a new one</a></p>
  {% elseif password_changed %}
    <p>Your password was successfully changed.</p>
    <p>You can now <a href='/login.php'>login</a></p>
  {% else %}
    <p>We recommend that you use a password manager to generate and store your password.</p>

    {% if password_mismatch %}
      <p class='error'>The password confirmation field did not match the password</p>
    {% endif %}

    {% if password_too_short %}
      <p class='error'>The password must be at least 8 characters long</p>
    {% endif %}

    <form method='post'>
      <input type='hidden' name='user_id' value="{{ user_id|e }}">
      <input type='hidden' name='token' value="{{ token|e }}">
      <p>Password: <input type='password' name='password' minlength='8' /></p>
      <p>Password confirmation: <input type='password' name='password_confirmation' minlength='8' /></p>
      <p><input type='submit' value='Reset' /></p>
    </form>
  {% endif %}
</div>

{% endblock %}
