{% extends 'base.html' %}

{% block content %}
<div class="section-box password-change">

  {% if token_error %}
    <p>{{ token_error|e }}</p>
    <p><a href='/password_reset.php'>Request a new password reset link</a></p>
  {% elseif password_changed %}
    <p>Your password was successfully changed.</p>
    <p>You can now <a href='/login.php'>login</a></p>
  {% else %}
    <p class="header">
      Change your password
    </p>
    
    <p>We recommend that you use a password manager to generate and store your password.</p>

    {% if password_error %}
      <p class='error'>{{ password_error|e }}</p>
    {% endif %}

    <form method='post'>
      <input type='hidden' name='user_id' value="{{ user_id|e }}">
      <input type='hidden' name='token' value="{{ token|e }}">
      <p>Password: <input type='password' name='password' minlength='{{ password_min_length }}' required /></p>
      <p>Password confirmation: <input type='password' name='password_confirmation' minlength='{{ password_min_length }}' required /></p>
      <p><input type='submit' value='Set new password' /></p>
    </form>
  {% endif %}
</div>

{% endblock %}
