{% extends 'base.html' %}

{% block content %}
<div class="section-box password-reset">
  <p style="font-weight: bold; text-align: center">
    Reset your password
  </p>

  {% if sent %}
    <p>We sent you an email with a link that you can use to reset your password.</p>
  {% else %}
    <form method='post'>
      <p>Email: <input type='text' name='email' required /></p>
      <p><input type='submit' value='Reset' /></p>

      <p>If you remembered your password, <a href='/login.php'>Login</a> instead</p>
    </form>
  {% endif %}
</div>

{% endblock %}
