{% extends 'base.html' %}

{% block content %}
<div style="font: 10pt Verdana; background-color: #f7f7f7; padding: 10px 20px; margin-bottom: 20px; border: 1px black solid; border-radius: 10px">
  <p style="font-weight: bold; text-align: center">
    {{ username|e }}'s times in the F-Zero {{ ladder.ladder_name|e }} Ladder
  </p>
</div>

{% for cup in ladder.cups.cup %}
<table class='scoreboard'>
  <thead>
    <tr>
      <td>{{ cup.cupname|e }}</td>
      <td colspan="3">Course time</td>
      {% if ladder.haslap == 'Yes' %}
        <td colspan="3">Best lap</td>
      {% endif %}
      {% if ladder.hasspeed == 'Yes' %}
        <td colspan="2">Max speed</td>
      {% endif %}
      <td>Notes</td>
    </tr>
  </thead>

  <tbody class='entries'>
    {% for course in cup.courses.course %}
      {% with { record: entries[cup.attributes.cupid.__toString][course.attributes.courseid.__toString] } %}
        <tr>
          <td>
            <a href='course.php?ladder={{ ladder_id }}&cup={{ cup.attributes.cupid }}&course={{ course.attributes.courseid }}'>{{ course.name|e }}</a>
          </td>

          <td>
            {{ record.C.value|format_time(ladder.timeformat) }}
          </td>

          <td class="record-details">
            <div class="record-ship-proof">
              <img src="{{ record.C.ship_image|e }}" title="{{ record.C.ship }}" />
              {% if record.C.has_proof %}
                {{ record.C | proof_link }}
              {% endif %}
            </div>
            <div class="record-platform" title="Platform this record was achieved on">
              {{ record.C.platform }}
            </div>
          </td>

          <td class="record-rank-date">
            <div class="record-rank" title="Ranking of this record">
              {{ record.C.rank }} / {{ record.C.player_count}}
            </div>
            <div class="record-date" title="{{ record.C.last_change }}">
              {{ record.C.date }}
            </div>
          </td>

          {% if ladder.haslap == 'Yes' %}
            <td>
              {{ record.L.value|format_time(ladder.timeformat) }}
            </td>

            <td class="record-details">
              <div class="record-ship-proof">
                <img src="{{ record.L.ship_image|e }}" title="{{ record.L.ship }}" />
                {% if record.L.has_proof %}
                  {{ record.L | proof_link }}
                {% endif %}
              </div>
              <div class="record-platform" title="Platform this record was achieved on">
                {{ record.L.platform }}
              </div>
            </td>

            <td class="record-rank-date">
              <div class="record-rank" title="Ranking of this record">
                {{ record.L.rank }} / {{ record.L.player_count}}
              </div>
              <div class="record-date" title="{{ record.L.last_change }}">
                {{ record.L.date }}
              </div>
            </td>
          {% endif %}

          {% if ladder.hasspeed == 'Yes' %}
            <td>
              {{ record.S.value }}
            </td>

            <td class="record-details">
              <div class="record-ship-proof">
                <img src="{{ record.S.ship_image|e }}" title="{{ record.S.ship }}" />
                {% if record.S.has_proof %}
                  {{ record.S | proof_link }}
                {% endif %}
              </div>
              <div class="record-platform" title="Platform this record was achieved on">
                {{ record.S.platform }}
              </div>
            </td>
          {% endif %}

          <td class="notes">
            <div class='splits'>
              {{ record.C.notes|e }}
            </div>
            <div class='comments'>
              {{ record.L.notes|e }}
            </div>
          </td>
        </tr>
      {% endwith %}
    {% endfor %}
    <tr>
      <td>{{ cup.cupname|e }} totals</td>
      <td>
        <span>{{ totals[cup.attributes.cupid.__toString].C|format_time(ladder.timeformat) }}</span>
      </td>
      <td class="record-details"></td>
      <td class="record-details"></td>
      {% if ladder.haslap == 'Yes' %}
        <td>
          <span>{{ totals[cup.attributes.cupid.__toString].L|format_time(ladder.timeformat) }}</span>
        </td>
        <td class="record-details"></td>
        <td class="record-details"></td>
      {% endif %}
      {% if ladder.hasspeed == 'Yes' %}
        <td>
          <span>{{ totals[cup.attributes.cupid.__toString].S }}</span>
        </td>
        <td class="record-details"></td>
      {% endif %}
      <td></td>
    </tr>
  </tbody>

</table>
{% endfor %}

<table class='scoreboard'>
  <thead>
    <tr>
      <td>Totals</td>
      <td>Course time</td>
      {% if ladder.haslap == 'Yes' %}<td>Best lap</td>{% endif %}
      {% if ladder.hasspeed == 'Yes' %}<td>Max speed</td>{% endif %}
    </tr>
  </thead>

  <tbody class='entries'>
    <tr>
      <td>{{ ladder.ladder_name|e }} totals</td>
      <td>
        {{ totals[0].C | format_time(ladder.timeformat) }}
      </td>
      {% if ladder.haslap == 'Yes' %}
        <td>
          {{ totals[0].L | format_time(ladder.timeformat) }}
        </td>
      {% endif %}
      {% if ladder.hasspeed == 'Yes' %}
        <td>
          {{ totals[0].S }}
        </td>
      {% endif %}
    </tr>
  </tbody>
</table>

{% endblock %}
