{% extends 'base.html' %}

{% block content %}
<div style="font: 10pt Verdana; background-color: #f7f7f7; padding: 10px 20px; margin-bottom: 20px; border: 1px black solid; border-radius: 10px">
  <p style="font-weight: bold; text-align: center">
    {{ username|e }}'s times in the F-Zero {{ ladder.ladder_name|e }} Ladder
  </p>
</div>

{% for cup in ladder.cups.cup %}
<table class='scoreboard'>
  <thead>
    <tr>
      <td>{{ cup.cupname|e }}</td>
      <td>Course time</td>
      <td>Best lap</td>
      {% if ladder.hasspeed == 'Yes' %}<td>Max speed</td>{% endif %}
      <td></td>
    </tr>
  </thead>

  <tbody class='entries'>
    {% for course in cup.courses.course %}
      {% with { record: entries[cup.attributes.cupid.__toString][course.attributes.courseid.__toString] } %}
        <tr>
          <td>
            <a href='course.php?ladder={{ ladder_id }}&cup={{ cup.attributes.cupid }}&course={{ course.attributes.courseid }}'>{{ course.name|e }}</a>
          </td>
          <td>
            <span>{{ record.C.value | format_time }}</span>
            <img src="{{ record.C.ship_image|e }}" title="{{ record.C.ship }}" />
            {% if record.C.has_proof %}
              {{ record.C | proof_link }}
            {% endif %}
          </td>
          <td>
            {% if ladder.haslap == 'Yes' %}
              <span>{{ record.L.value|format_time }}</span>
              <img src="{{ record.L.ship_image|e }}" title="{{ record.L.ship }}" />
              {% if record.L.has_proof %}
                {{ record.L | proof_link }}
              {% endif %}
            {% endif %}
          </td>
          {% if ladder.hasspeed == 'Yes' %}
            <td>
              <span>{{ record.S.value }}</span>
              <img src="{{ record.S.ship_image|e }}" title="{{ record.S.ship }}" />
              {% if record.S.has_proof %}
                {{ record.S | proof_link }}
              {% endif %}
            </td>
          {% endif %}
          <td>
            <div class='splits'>
              Splits: {{ record.C.notes|e }}
            </div>
            <div class='comments'>
              Comment: {{ record.L.notes|e }}
            </div>
          </td>
        </tr>
      {% endwith %}
    {% endfor %}
    <tr>
      <td>{{ cup.cupname|e }} totals</td>
      <td>
        <span>{{ totals[cup.attributes.cupid.__toString].C|format_time }}</span>
      </td>
      <td>
        {% if ladder.haslap == 'Yes' %}
          <span>{{ totals[cup.attributes.cupid.__toString].L|format_time }}</span>
        {% endif %}
      </td>
      {% if ladder.hasspeed == 'Yes' %}
        <td>
          <span>{{ totals[cup.attributes.cupid.__toString].S|format_time }}</span>
        </td>
      {% endif %}
      <td></td>
    </tr>
  </tbody>

</table>
{% endfor %}

<table class='scoreboard'>
  <thead>
    <tr>
      <td>Totals</td>
      <td>Course time</td>
      <td>Best lap</td>
      {% if ladder.hasspeed == 'Yes' %}<td>Max speed</td>{% endif %}
      <td></td>
    </tr>
  </thead>

  <tbody class='entries'>
    <tr>
      <td>{{ ladder.ladder_name|e }} totals</td>
      <td>
        {{ totals[0].C | format_time }}
      </td>
      <td>
        {% if ladder.haslap == 'Yes' %}
          {{ totals[0].L | format_time }}
        {% endif %}
      </td>
      {% if ladder.hasspeed == 'Yes' %}
        <td>
          {{ totals[0].S | format_time }}
        </td>
      {% endif %}
      <td></td>
    </tr>
  </tbody>
</table>

{% endblock %}
